@charset "utf-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* body */
.all_content {
	background: #ecf1f6;
}

ul, li {
	list-style: none;
}

/* サイドバー */
.sidebar {
	width: 150px;
	height: 100vh;
	background-color: #03aad2;
	font-weight: bold;
}

.main-container {
	width: 100%;
}

.sidebar p a {
	color: #fff;
}

/* トップページ */
.user_status {
	border-radius: 10px;
	background: #fff;
}

/* スクール予約関連 */
.day-blank {
	background: #d3d3d3;
}

.day-sat {
	color: #0000ff;
}

.day-sun {
	color: #ff0000;
}

.past-day {
	background: #eee;
}

.calendar-td {
	min-width: 100px;
}

.day_part {
	color: #494949;
	font-size: 12px;
}

.adjust-table {
	width: 70% !important;
}

.adjust-table td {
	padding: 0 !important;
}

.adjust-area p {
	justify-content: space-around;
}

.adjust-table-btn {
	width: 70%;
}

/* モーダル */
.modal {
	position: fixed;
	top: 0;
	display: none;
	width: 100%;
	height: 100vh;
}

.modal__bg {
	position: absolute;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
}

.modal__content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60%;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: #fff;
}

/* 掲示板 */
.sub_categories {
	display: none;
}

.post_create_area {
	border-radius: 10px;
	background: #fff;
}

.post_create_area textarea {
	height: 300px;
	resize: none;
	white-space: pre-wrap;
}

.detail_container {
	background: #fff;
}

.post_area {
	border-radius: 10px;
	background: #fff;
}

.post_bottom_area {
	justify-content: space-between;
}

.like_btn, .un_like_btn {
	cursor: pointer;
}

.un_like, .un_like_btn {
	color: #e2254d;
}

.error_message {
	color: red;
	font-size: 12px;
}

/* 掲示板 詳細画面 */
.contributor {
	color: #999;
	font-size: 12px;
	font-weight: bold;
}

.detsail_post_title {
	font-size: 14px;
}

.detsail_post {
	color: #9e9e9e;
	font-size: 12px;
}

.detail_inner_head {
	display: flex;
	justify-content: space-between;
}

.edit-modal-open {
	cursor: pointer;
}

.modal-inner-body textarea {
	height: 150px;
	resize: none;
}

.edit-modal-btn {
	justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
	background: #fff;
}

.comment_area p, .comment_area input {
	font-size: 12px;
	font-weight: bold;
}

.comment_area textarea {
	height: 300px;
	resize: none;
}

.comment_container span {
	font-size: 12px;
}

.post_status span {
	font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
	border-radius: 10px;
	background: #fff;
}

.category_box {
	padding: 3px;
	color: #fff;
	border-radius: 5px;
	background: #999;
	font-size: 10px;
}

.category_btn {
	padding: 0 5px;
	color: #fff;
	border: none;
	border-radius: 5px;
	background: #999;
	font-size: 12px;
}

.main_categories span, .sub_categories li input {
	list-style: none;
	cursor: pointer;
}

/* ユーザー検索 */
.reserve_users_area {
	display: flex;
	overflow: scroll;
	flex-wrap: wrap;
	width: 800px;
	height: 80vh;
	margin: 10px auto;
	padding: 10px;
	border-radius: 5px;
	background: #fff;
}

.reserve_users_area span {
	font-size: 12px;
}

.one_person {
	width: 250px;
	height: 250px;
}

.search_conditions span {
	cursor: pointer;
}

.search_conditions_inner {
	display: block;
	/* display: none; */
	background: #fff;
}

.subject_edit_btn {
	cursor: pointer;
	color: #0000ff;
	font-size: 12px;
}

.subject_inner {
	display: none;
}


/* 矢印・追記 */
.arrow-toggle {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-bottom: 2px;
	margin-left: 6px;
	transition: 0s ;
	transform: rotate(-45deg);
	border-top: 2px solid #000;     /* 色を黒に */
	border-right: 2px solid #000;
}

.arrow-toggle.down {
	transform: rotate(135deg); /* 開いたときに上向き（ ˆ ）*/
}